<td>
    <input type="checkbox" name="check" class="checkbox">
</td>
<td>
    <input id="name" class="readonly-element" type="text" name="name" value="{{name}}" readonly="readonly">
</td>
<td>
    $ <input id="dailyBudget" class="readonly-element" type="text" name="dailyBudget" value="{{dailyBudget}}" readonly="readonly">
</td>
<td>
    {{startingDate}}
</td>
<td>
    <input id="endingDate" class="readonly-element" type="text" name="endingDate" value="{{endingDate}}" readonly="readonly">
</td>
<td>
    $ {{cpcProm}}
</td>
<td>
    {{clics}}
</td>
<td>
    {{prints}}
</td>
<td>
    {{ctr}}%
</td>
<td>
    ${{budget}}
</td>
<td>
    <input id="estate" class="readonly-element" type="text" name="estate" value="{{estate}}" readonly="readonly">
</td>
<td class="modify">
    <input type="button" value="Modify" class="ch-btn ch-btn-small"  data-js="modifyBtn">
</td>
<td class="save">
    <input type="button" value="Save" class="ch-btn ch-btn-small"  data-js="saveBtn">
</td>
<td class="delete">
    <div class="icon" role="button" data-js="deleteBtn">
      <div class="lid"></div>
      <div class="lidcap"></div>
      <div class="bin"></div>
    </div>
</td>
